{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
