.header
  position: absolute
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  background-image: url("../../../assets/images/background.svg")
  color: white
  padding: 40px 0 124px 0

.headerWrapper
  display: flex
  justify-content: space-between

.logo
  background-image: url("../../../assets/images/logo.svg")
  width: 236px
  height: 114px

.feedback
  display: flex


.headerContainer
  width: 1080px
  margin: 0 auto

.headerContent
  padding: 40px 0 70px 0

.headerContent__menu
  display: flex
  flex-direction: column
