.contactsWrapper
  display: flex

.phone
  position: relative
  margin-left: 37px

.phone:before
  position: absolute
  content: ''
  background: url("../../../../../../assets/images/right-arrow.svg") no-repeat center
  width: 27px
  height: 24px
  left: -37px
  top: -3px

.menu
  margin-top: 23px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end


.menuText
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 20px
  text-align: center
  text-transform: uppercase
  color: #FFFFFF

.social
  width: 32px
  height: 32px

.instagram
  background: url("../../../../../../assets/images/instagram.svg") no-repeat center
  margin-left: 30px

.whatsapp
  background: url("../../../../../../assets/images/whatsapp.svg") no-repeat center
  margin: 0 20px

.telegram
  background: url("../../../../../../assets/images/telegram.svg") no-repeat center
